@{
    ViewBag.Title = "Contact";
}


    <h2>@ViewBag.Title page</h2>
    


<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Tel:</span>
        <span>874-7430</span>
    </p>
    <p>
        <span class="label">Mobiles:</span>
        <span>0555-33-1717</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:m.alkahtani@ise.sa">Eng. Mohammad Alkahtani</a></span>
    </p>
    <p>
        <span class="label">Policies:</span>
        <span><a href="mailto:n.alomar@ise.sa">Nezar Alomar</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:m.alkahtani@ise.sa">Eng. Mohammad Alkahtani</a></span>
    </p>
</section>
