<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <appSettings>
    <add key="ISE_TEST" value="1" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Candidate1_Entities" connectionString="metadata=res://*/Models.Candidate.csdl|res://*/Models.Candidate.ssdl|res://*/Models.Candidate.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Can_TestsEntities" connectionString="metadata=res://*/Models.Can_Tests.csdl|res://*/Models.Can_Tests.ssdl|res://*/Models.Can_Tests.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TempResultEntities" connectionString="metadata=res://*/Models.TempResult.csdl|res://*/Models.TempResult.ssdl|res://*/Models.TempResult.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="QuestionsEntities1" connectionString="metadata=res://*/Models.Questions.csdl|res://*/Models.Questions.ssdl|res://*/Models.Questions.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="AnswersEntities" connectionString="metadata=res://*/Models.Answers.csdl|res://*/Models.Answers.ssdl|res://*/Models.Answers.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="QTEntities12" connectionString="metadata=res://*/Models.QT.csdl|res://*/Models.QT.ssdl|res://*/Models.QT.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Answer_Log" connectionString="metadata=res://*/Models.Answer_Log.csdl|res://*/Models.Answer_Log.ssdl|res://*/Models.Answer_Log.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Result_1Entities1" connectionString="metadata=res://*/Models.Result_1.csdl|res://*/Models.Result_1.ssdl|res://*/Models.Result_1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Marks_dbEntities" connectionString="metadata=res://*/Models.Marks_db.csdl|res://*/Models.Marks_db.ssdl|res://*/Models.Marks_db.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TestM_Role_Entities" connectionString="metadata=res://*/Models.TestM_Role.csdl|res://*/Models.TestM_Role.ssdl|res://*/Models.TestM_Role.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="TestE_Role_Entities" connectionString="metadata=res://*/Models.TestE_Role.csdl|res://*/Models.TestE_Role.ssdl|res://*/Models.TestE_Role.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Tests_Entities" connectionString="metadata=res://*/Models.Tests.csdl|res://*/Models.Tests.ssdl|res://*/Models.Tests.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="Roles_Manager_Entities" connectionString="metadata=res://*/Models.Roles_Manager.csdl|res://*/Models.Roles_Manager.ssdl|res://*/Models.Roles_Manager.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MOHAMMAD-LAPTOP\R2;Initial Catalog=ISE_TEST_1;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    

    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="Telerik.Web.Mvc.UI" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>